/* refer to this link for colors : https://colorhunt.co/palette/264984 */
a{
  color: #11999E;
  font-family: 'Karla', sans-serif;
  text-decoration:none;
}

a:hover{
  color: #EAF6F6;
}
body {
  text-align: center;
}

hr {
  width: 5%;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  margin: 100px auto;
}

h1 {
  font-size: 5.625rem;
  margin-top: 50px;
  line-height: 2;
  margin-bottom: 10px;
  font-family: 'Englebert', sans-serif;
  color: #ff7171;
}

h2 {
  font-size: 2.5rem;
  margin: 50px auto 0 auto;
  font-family: 'Cutive Mono', monospace;
  color: #ff7171;
}

h3 {
  color: #1597bb;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
}

.bottom-container {
  background-color: #8fd6e1;
  padding: 50px 0 20px;

}

.bottom-cloud {
  position: absolute;
  left: 300px;
  top: 300px;
}

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Arial;
  font-size: 20px;
  font-weight: 100;
  padding: 11px;
  background-color: #ff7171;
  text-shadow: 1px 1px 20px #000000;
  border: solid #ff7171 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin: 50px;
}

.btn:hover {
  border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.cooking {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.data-image {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.footer-space {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0;
}

.intro {
  width: 40%;
  margin: 30px auto;
  line-height: 2;
}

.middle-container {
  margin: 100px 0;
}

.paragraph {
  font-weight: normal;
  font-size: 30px;
}

.rookie {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.top-container {
  background-color: #f0e4d7;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

/*a:link {
  color: white;
}*/
/*img {
  width: 20%;
  margin-top: 50px;
}*/
